@model DangTienDaoVien.Models.TheLoai
@{
	ViewData["Title"] = "Sửa Thể Loại";
}
<form action="Update" method="post">
	<div class="form-group my-2">
		<input asp-for="Id" hidden class="form-control" value="@Model.Id"/>

		<label asp-for="Ten"></label>
		<input asp-for="Ten" class="form-control" value="@Model.Ten"/>
		<span asp-validation-for="Ten" class="text-danger"></span>

		<label asp-for="MoTa"></label>
		<input asp-for="MoTa" class="form-control" value="@Model.MoTa"/>
		<span asp-validation-for="MoTa" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary"><h4>Chỉnh sửa</h4></button>
</form>